{% extends 'admin_dashboard/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
<div class="row g-3 my-2">
    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">{{ total_users }}</h3>
                <p class="fs-5">Users</p>
            </div>
            <i class="fas fa-users fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">{{ total_payments }}</h3>
                <p class="fs-5">Payments</p>
            </div>
            <i class="fas fa-wallet fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">{{ total_twilio_numbers }}</h3>
                <p class="fs-5">Twilio Numbers</p>
            </div>
            <i class="fas fa-phone fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">{{ total_referrals }}</h3>
                <p class="fs-5">Referrals</p>
            </div>
            <i class="fas fa-network-wired fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>
</div>
{% endblock %}